In [1]:
# Instructions here: https://algotrading101.com/learn/alpaca-trading-api-guide/

import os
import alpaca_trade_api as tradeapi

# authentication and connection details
# store your Alpaca API key and secret in your environment
api_key = os.environ.get('alpaca_api_key')
api_secret = os.environ.get('alpaca_api_secret')
base_url = 'https://api.alpaca.markets'

# instantiate REST API
api = tradeapi.REST(api_key, api_secret, base_url, api_version='v2')

# obtain account information
account = api.get_account()

In [2]:
## Pull daily data for AAPL
aapl = api.get_barset('AAPL', 'day')
aapl = aapl.df
aapl.head()

                               AAPL
                               open    high      low    close    volume
time
2020-07-21 00:00:00-04:00  396.6900  397.00  386.970  388.000  23389568
2020-07-22 00:00:00-04:00  386.7700  391.90  386.410  389.090  18899399
2020-07-23 00:00:00-04:00  387.9935  388.31  368.039  371.560  44785715
2020-07-24 00:00:00-04:00  360.4300  371.88  359.980  370.420  34138150
2020-07-27 00:00:00-04:00  374.8400  379.62  373.920  379.215  26920001

In [3]:
## Pull 15min data for TSLA
tsla = api.get_barset('TSLA', '15Min')
tsla = tsla.df
tsla.head()

                             TSLA
                             open    high     low    close volume
time
2020-12-07 07:30:00-05:00  604.55  604.55  601.82  602.200    682
2020-12-07 07:45:00-05:00  603.97  603.97  603.97  603.970    503
2020-12-07 08:00:00-05:00  603.98  605.39  603.98  605.390   2777
2020-12-07 08:15:00-05:00  605.49  605.49  604.43  604.980   1335
2020-12-07 08:30:00-05:00  605.09  605.09  604.88  604.975    761

In [4]:
## Pull 1min data for MSFT
msft = api.get_barset('MSFT', '1Min')
msft = msft.df
msft.head()

                             MSFT
                             open    high     low   close volume
time
2020-12-09 11:37:00-05:00  214.21  214.28  214.16  214.28   1305
2020-12-09 11:38:00-05:00  214.34  214.44  214.34  214.38   1919
2020-12-09 11:39:00-05:00  214.50  214.57  214.45  214.45   2690
2020-12-09 11:40:00-05:00  214.41  214.47  214.41  214.44   2157
2020-12-09 11:41:00-05:00  214.44  214.44  214.41  214.41    612

In [5]:
## Pull last 1k bars of 1min data for TTD 
ttd = api.get_barset(symbols='TTD', timeframe='1Min', limit=1000)
ttd = ttd.df
ttd.head()

                              TTD
                             open    high     low   close volume
time
2020-11-24 15:44:00-05:00  837.37  837.37  837.37  837.37    125
2020-11-24 15:46:00-05:00  837.84  837.84  837.84  837.84    308
2020-11-24 15:48:00-05:00  837.74  837.74  837.74  837.74    374
2020-11-24 15:49:00-05:00  839.20  839.20  839.20  839.20    362
2020-11-24 15:51:00-05:00  839.82  839.82  839.82  839.82    443